<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<context-param>
	<param-name>name</param-name>
	<param-value>piaoqian</param-value>
	</context-param>
	<context-param>
	<param-name>name2</param-name>
	<param-value>feihong</param-value>
	</context-param>
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>com.itheima.MyFirstServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MySecondServlet</servlet-name>
    <servlet-class>com.itheima.MySecondServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>com.itheima.ServletConfigDemo</servlet-class>
    <init-param>
    <param-name>name</param-name>
    <param-value>张三</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletConfigDemo02</servlet-name>
    <servlet-class>com.itheima.ServletConfigDemo02</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Demo03</servlet-name>
    <servlet-class>com.itheima.Demo03</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DemoServlet05</servlet-name>
    <servlet-class>com.itheima.DemoServlet05</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Demo06</servlet-name>
    <servlet-class>com.itheima.Demo06</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Demo07Servlet</servlet-name>
    <servlet-class>com.itheima.Demo07Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Demo08Servlet</servlet-name>
    <servlet-class>com.itheima.Demo08Servlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/servlet/MyFirstServlet</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/MyFirstServlet</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
   <servlet-name>MyFirstServlet</servlet-name>
   <url-pattern>/servlet/My/*</url-pattern>
   </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MySecondServlet</servlet-name>
    <url-pattern>/servlet/MySecondServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/servlet/ServletConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo02</servlet-name>
    <url-pattern>/servlet/ServletConfigDemo02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo03</servlet-name>
    <url-pattern>/servlet/Demo03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DemoServlet05</servlet-name>
    <url-pattern>/servlet/DemoServlet05</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo06</servlet-name>
    <url-pattern>/servlet/Demo06</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo07Servlet</servlet-name>
    <url-pattern>/servlet/Demo07Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo08Servlet</servlet-name>
    <url-pattern>/servlet/Demo08Servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
